<%= form_with(model: face) do |form| %>
  <% if face.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(face.errors.count, "error") %> prohibited this face from being saved:</h2>

      <ul>
        <% face.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :redo_id %>
    <%= form.text_field :redo_id %>
  </div>

  <div class="field">
    <%= form.label :face_id %>
    <%= form.text_field :face_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
