<p id="notice"><%= notice %></p>

<h1>Rotations</h1>

<table>
  <thead>
    <tr>
      <th>Face</th>
      <th>Redo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rotations.each do |rotation| %>
      <tr>
        <td><%= rotation.face %></td>
        <td><%= rotation.redo_id %></td>
        <td><%= link_to 'Show', rotation %></td>
        <td><%= link_to 'Edit', edit_rotation_path(rotation) %></td>
        <td><%= link_to 'Destroy', rotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rotation', new_rotation_path %>
