<p id="notice"><%= notice %></p>

<h1>Redos</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Version</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redos.each do |redo| %>
      <tr>
        <td><%= redo.type %></td>
        <td><%= redo.version %></td>
        <td><%= redo.key %></td>
        <td><%= link_to 'Show', redo %></td>
        <td><%= link_to 'Edit', edit_redo_path(redo) %></td>
        <td><%= link_to 'Destroy', redo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redo', new_redo_path %>
